.spinner {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
  }
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.inline{
display: flex;
}
.center{
flex:left;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;


}

